<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Omar Veiga's Funtastic Project Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/styles/index.css') }}"/>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon-rounded.png') }}"/>
</head>
<body>
<header>
<h1>Omar Veiga's Funtastic Project Portfolio</h1>
<nav>
<a href="#timeline">Timeline</a>
<a href="#projects">Projects</a>
<a href="#contact">Contact</a>
</nav>
</header>

<div class="container" id="timeline">
<h2>Project Timeline</h2>
<p>A simple overview of my work and progression through my main projects.</p>
</div>

<div class="container" id="projects">
<h2>Projects</h2>

<div class="project-section">
  <div class="project-content">
    <img class="project-img" src="https://github.com/robodude0395/poke_me_rpi_ILI9486_screen/raw/master/images/poke_me_tron_9000_v2.jpg" alt="Project Image 1" />
    <div class="project-text">
      <h3 class="project-title">
        Message board device using Flask API
        <span class="project-date">November 2025</span>
      </h3>
      <p>This is a physical message board I made during my fourth week as a trainee at Sigma Labs. In essence it's a RESTful API
        that prints post requests with a message onto a small display I had laying around. I found REST APIs very exciting so I
      made this small side project as a way to consolidate my knowledge.</p>
      <a href="https://example.com/video1" target="_blank">Watch Video</a>
    </div>
  </div>
</div>

<div class="project-section">
  <div class="project-content">
    <img class="project-img" src="example-image2.jpg" alt="Project Image 2" />
    <div class="project-text">
      <h3 class="project-title">
        Project Title 2
        <span class="project-date">(mm-yyyy)</span>
      </h3>
      <p>ANOTHER short description of the project. What it does, why it matters, tools used.</p>
      <a href="https://www.instagram.com/p/DLZ7nn3sV1D/" target="_blank">Watch Video</a>
    </div>
  </div>
</div>

</div>

<footer id="contact">
<h3>Connect with Me</h3>
<div class="social-buttons">
<a href="https://github.com/robodude0395" target="_blank">GitHub</a>
<a href="https://www.linkedin.com/in/omar-maaouane/" target="_blank">LinkedIn</a>
</div>
<p>For fun content, find me on Instagram:</p>
<a href="https://www.instagram.com/origamimaster2000" target="_blank">Instagram</a>
</footer>
</body>
</html>